:root{
    --bannerTextColor: white;
}

.banner:hover{
    transform: scale(1.05);
}

.banner{
    padding: 2.5rem 1.5rem;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color: var(--bannerTextColor);
    border-radius: 0rem;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.5s ease;

}

.banner h1{
    font-size: 2.5rem;
}

.banner div{
    width: 10rem;
    height: 5px;
    background: orange;
    margin: 1.7rem auto;
    border-radius: 5px;
}

.banner p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.loginInput{
    display: flex;
    margin: 1.5rem;
}