.signUpMessage{
    width: 100%;
    text-align: center;
    padding: 5%;
    opacity: 0;
    transform: scale(85%);
    transition: 2s;
}

.signUpMessageZoom{
    opacity: 1;
    transform: scale(100%);
    transition: 2s;
}

.btn-form{ 
    width: 100%;
    margin-bottom: 10px;
}

.container-form{
    background-color: #eee;
    border-radius: 4px;
    padding: 20px 20px;
}

.blackText {
    color: black;
    text-align: end;
}

.formLink{
    color: #0d6efd;
}