body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landingPageLink{
  display: inline-block;
  text-decoration: none;
  color: var(--bannerTextColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid;text-transform: uppercase;
  cursor: pointer;
}
