.slider{
    display: flex;
    align-items: center;
    margin-left:20%;
    margin-right: 20%;
    opacity: 0;
    transform: scale(85%);
    transition: 2s;

}

.sliderZoom{
    opacity: 1;
    transform: scale(100%);
    transition: 2s;
}

.sliderImage{
    width: 40%;
    object-fit: contain;
    filter: drop-shadow(0 0 0.5rem #242424);
}

.sliderContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    text-align: center;
}

.sliderTitle{
    text-align: center;
    padding-left: 30%;
}

.slider p{
    padding-left: 30%;
}